*{
    margin: 0;
}
body{
   /* background-image: url(../_img/background.jpg); */
}
.icon{
    width: 90px;
    height: 50px;
}
.altura{
    width: 100%;
    height: 400px;
        
}
.login{
    float: right;
}


/*-----Corpo--------*/

.corpo{
    
    margin-top: 40px;
}

.center img{
    display: block;
    margin-left: auto;
    margin-right: auto
    
}